body {
  margin: 0;
  background: #f2f2f2;
}

.header {
  background:rgb(38,121,242);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dashboard {
  margin-top: -3px;
}

.dashboard__text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: monospace;
  /* z-index: 10; */
}

.header__left {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.box-search {
  position: relative;
}

.box-search i {
  position: absolute;
  width: 15px;
  top: 8px;
  left: 20px;
}

.header__left .box-search input {
  height: 30px;
  width: 250px;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ffffff55;
  padding-left: 30px;
  margin-left: 10px;
}

.box-profile {
  margin-right: 100px;
}
.box-profile__white {
  display: inline-block;
  position: relative;
  height: 80px;
  width: 250px;
  background-color: rgb(122, 172, 247);
  border-radius: 20px;
}

.box-profile img {
  top: 15px;
  left: 10px;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.box-profile__text-right {
  position: absolute;
  left: 80px;
}

/* Desktop */
/* @media screen and (max-width: 1024px) {
} */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
  }

  .header__left {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    margin-left: 6vh;
  }

  .box-search {
    margin-top: -5px;
  }

  .box-search input {
  }

  .header__left .box-search input {
    width: 180px;
  }

  .box-profile {
    margin-right: 0;
    margin-top: 20px;
  }

  .box-profile__white {
    background: rgb(38,121,242);
    margin-left: 245px;
  }

  .box-profile__white img {
    width: 80px;
    height: 80px;
    margin-top: -20px;
    margin-left: 15vh;
  }

  .box-profile__text-right {
    display: none;
  }
}

/* SmartPhone */
@media screen and (max-width: 767px) {


    .box-profile__text-right {
      display: none;  
    }

  .header {
    padding-bottom: 30px;
  }

  .header__left {
    margin-top: 10px;
    align-items: center;
    margin-left: 0;
  }

  .dashboard .dashboard__text {
    font-size: 50px;
  }

  .box-search {
    margin-top: -6vh;
  }
  .box-search input {
    display: none;
  }

  .box-search i {
    font-size: 1.5em;
    z-index: 6 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-left: -175px;
  }

  .header__right {
    height: 0;
  }
  .box-profile {
    margin-right: 0;
    margin-top: 20px;
  }

  .box-profile__white {
    display: block;
    height: 0;
    width: 100px;
    margin: 20px auto;
  }

  .box-profile__white img {
    width: 80px;
    height: 80px;
    margin-top: -35px;
  }

  .box-profile__text-right {
    display: none;
  }
}